<hr>
<br>
<p> COPYRIGHT © 2021 TECNOLÓGICO DE ANTIOQUIA. TODOS LOS DERECHOS RESERVADOS. DESIGNED BY WWW.GOBILINGUAL.INFO.
JOOMLA! ES SOFTWARE LIBRE PUBLICADO BAJO LA LICENCIA PÚBLICA GENERAL DE GNU.
DIRECCIÓN: CALLE 78B NO. 72A - 220 MEDELLÍN - COLOMBIA - SURAMÉRICA HORARIO DE ATENCIÓN AL PÚBLICO 7:30 A.M. A 12:00 M. Y  DE 1:00 P.M. A 5:30 P.M. DE LUNES A JUEVES, LOS VIERNES DE 7:30 A.M. A 12:00 M. Y 1:00 P.M. A 4:30 P.M. TELÉFONO PBX: (574) 444 37 00 COPACABANA: CARRERA 50 N°50A - 59 TELÉFONO: 4013997 ITAGUÍ: INSTITUCIÓN EDUCATIVA SIMÓN BOLÍVAR CALLE 65 N° 46A - 95  TELÉFONO: 2819509 CALLE 76 N° 49 – 24 INSTITUCIÓN EDUCATIVA ORESTE SINDICI TELÉFONO: 2819509 CALLE 80 N° 57 -16  INSTITUCIÓN EDUCATIVA BENEDIKTA ZUR NIEDEN TELÉFONO: 2819509
CORREO ELECTRÓNICO EXCLUSIVO PARA RECIBIR NOTIFICACIONES JUDICIALES: NOTIFICACIONESJUDICIALES@TDEA.EDU.CO 
ATENCIÓN AL USUARIO: ATENCIONALCLIENTE@TDEA.EDU.CO  ESCRIBA SU DENUNCIA AL CORREO JURIDICA@TDEA.EDU.CO SUS DATOS PERSONALES SERÁN PROTEGIDOS</p>
<br>
<script src="js/bootstrap.bundle.min.js"></script>
<br>
  <div class="container">
    <div class="row align-items-start">
      <div class="col-1 mx-auto margin utility class.">
       <img src="footer.png" height="" width="">
      </div>
      <div class="col_2">
        <img src="futuro.png"height="150px" width="100%" >
      </div>
      
    </div>
    <br>
  
<style>
    p{
       font-size: 15px;
    }
</style>
    <script src="js.bootstrap.bundle.min.js">
      
    </script>
</body>
</html>