<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <!--css -->
  <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>Bienvenidos a los cursos de educacion continua del TdeA </title>       	
</head>

<body>
  <div class="container">
    <div class="row align-items-start">
      <div class="col-1">
      <img src="baner2.jpg" height="200px" width="800px">
      </div>
      <div class="col_2">
        
      </div>
      
    </div>
    <br>

<nav class="navbar navbar-dark" style="background-color: #4BB543;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!---  <li class="nav-item">
          <a class="nav-link" href="/matricular">Matricular</a>

        </li> !-->
        <li class="nav-item">
          <a class="nav-link" href="/cursos2">Cursos</a>
        </li>
        <a class="nav-link" href="/eliminar1">eliminar</a> 
        </li>   
        <a class="nav-link" href="/coordinador">coordinador</a> 
        </li>      
      </ul>
    </div>
  </div>
</nav>

