{{>header}}
<h1> Bienvenido coorninador </h1> 
<form class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Correo electrónico </label>
    <input type="text" readonly class="form-control-plaintext" id="email" value="">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn- mb-3" style="background-color:#8ebf27;"> Iniciar sesion</button>
  </div>
</form>